[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
textblob = "*"
pydub = "*"
pylint = "*"
tomli = "*"

[dev-packages]

[requires]
python_version = "3.12"
