name: Build and Deploy to Digital Ocean with SSH Password

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install sshpass
      run: sudo apt-get install -y sshpass

    - name: Deploy to Server
      env:
        SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
      run: |
        # Bypass host key checking
        ssh-keyscan -H 64.225.26.135 >> ~/.ssh/known_hosts
        
        # SSH and Deploy using sshpass
        sshpass -p $SSH_PASSWORD ssh -o StrictHostKeyChecking=no root@64.225.26.135 "
          cd 4-containerized-app-exercise-m5-competition &&
          docker-compose down &&
          git pull origin main &&
          docker-compose up -d
        "
